#conclusion-div {
    background-color: #2F2B2C;
    height : 250px;
    text-align: center;
}

#conclusion-text {
    font-weight:normal;
    color:#FFFFFF;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:36px;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    line-height:1;
    margin-top: 60px;
    margin-bottom: 40px;
}

#button-conclusion {
    -webkit-border-radius: 0;
    border-radius: 0px;
    -webkit-box-shadow: 4px 4px 2px #000000;
    box-shadow: 4px 4px 2px #000000;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background: #F0C300;
    border: solid #F0C300 2px;
    text-decoration: none;
    font-weight:600;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
}